@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.footer {
	background-color: $body-accent;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
}

.brandcontainer {
	width: 20vw;
	margin: 0 !important;
}

.brand {
	display: flex;
	align-items: center;

	.title {
		margin-left: 10px;
		font-size: 2rem;
	}
}

.title {
	font-family: "Russo One", sans-serif;
	font-weight: normal;
}

.description {
	margin-top: 9px;
	margin-bottom: 10px;
	max-width: 280px;
}

.socials {
	margin-bottom: 3px;
}

.darker {
	color: lighten($body-accent, 30%);
}

.links {
	text-align: center;
}

.linktitle {
	font-size: 1.5rem;
}

.link {
	background-color: $body-accent !important;
}

.chaker {
	font-family: "Righteous", cursive;
	font-size: 3rem;
	text-decoration: none;
	transition: all 0.3s ease-out;
	background: linear-gradient(
		45deg,
		$body-lighter-accent,
		$body-lighter-accent
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;

	&:hover {
		color: transparent;
		cursor: pointer;
		background: linear-gradient(
			45deg,
			#f17c58,
			#e94584,
			#24aadb,
			#27dbb1,
			#ffdc18,
			#ff3706
		);
		background-size: 600% 100%;
		animation: gradient 16s linear infinite;
		animation-direction: alternate;
		background-clip: text;
		-webkit-background-clip: text;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
