@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@import "./variables.scss";

$theme-colors: (
	primary: $primary-color,
);

.card {
	background-color: $body-bg !important;
	border-color: $body-lighter-accent !important;
	transition-duration: 0.3s;

	&:hover {
		cursor: auto;
		box-shadow: 0 6px 40px rgb(0 0 0 / 0.2);
	}
}

.list-group-item {
	background-color: $body-bg !important;
	border-color: $body-lighter-accent !important;
	color: $body-color !important;
}

code {
	color: $primary-color !important;
	background-color: $body-accent;
	border-radius: 2px;
	padding: 4px;
}

img {
	user-select: none;
}

.active {
	color: $primary-color !important;
	background-color: $body-lighter-accent;
}

.nav-item .dropdown-menu {
	background: $body-lighter-accent;
}

.nav-item .dropdown-item {
	color: $body-color;
}

.nav-item .dropdown-item:hover {
	background: $primary-color;
}

@import "~bootstrap/scss/bootstrap";

a {
	color: inherit;
	transition: 0.3s;

	&:hover {
		color: $primary-color;
	}
}

.link {
	color: inherit !important;
	transition: 0.3s;

	&:hover {
		color: $primary-color !important;
		transition: 0.3s;
	}
}

.btn-blurple {
	background-color: $blurple;
	border-color: $blurple;
}

.title {
	font-family: "Russo One", sans-serif;
	font-weight: normal;
}

html,
body {
	font-family: "Inter", sans-serif;
	background-color: $body-bg;
	color: $body-color;
}
