@import "./variables.scss";

.title {
	font-family: "Russo One", sans-serif;
	font-weight: normal;
}

.hero {
	text-align: center;
}

.heroinfo {
	padding-top: 20vh;
}

.infotitle {
	font-size: 8rem;
}

.infodesc {
	padding-bottom: 10px;
}

.statsrow {
	margin-top: 9vh;
	text-align: center;
}

.feature {
	margin-top: 5vh;
}
